{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "es2017": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "ignorePatterns": [
    "dist/**/*",
    "gulp/**/*",
    "gulpfile.babel.js",
    "src/scripts/vendor/**/*"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "log",
          "dir"
        ]
      }
    ],
    "no-unused-vars": "warn",
    "semi": "warn",
    "linebreak-style": "off",
    "import/prefer-default-export": "off",
    "import/extensions": 1,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["gulpfile.babel.js", "gulp/**/*.js"]}]
  }
}
