{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-idiomatic-order"],
  "plugins": ["stylelint-at-rule-no-children", "stylelint-declaration-block-no-ignored-properties"],
  "ignoreFiles": ["./src/scss/_normalize.scss", "./src/scss/_fonts.scss", "./src/scss/mixins/_reset.scss"],
  "defaultSeverity": "error",
  "rules": {
    "aditayvm/at-rule-no-children": [{ "ignore": ["&:hover"] }],
    "plugin/declaration-block-no-ignored-properties": true,
    "color-named": "always-where-possible",
    "max-nesting-depth": 3,
    "selector-max-compound-selectors": 2,
    "selector-max-id": 0,
    "selector-max-type": 1,
    "shorthand-property-no-redundant-values": true,
    "order/order": [
      "declarations",
      {
        "type": "at-rule",
        "name": "supports"
      },
      {
        "type": "at-rule",
        "name": "media"
      },
      {
        "type": "rule",
        "selector": "^&::(before|after),"
      },
      {
        "type": "rule",
        "selector": "^&::before"
      },
      {
        "type": "rule",
        "selector": "^&::after"
      },
      {
        "type": "rule",
        "selector": "^&:\\w"
      },
      {
        "type": "rule",
        "selector": "^& \\+ &"
      },
      {
        "type": "rule",
        "selector": "^&_"
      },
      {
        "type": "rule",
        "selector": "^."
      }
    ],
    "custom-property-pattern": "[a-z]+((\\d)|([A-Z0-9][a-z0-9]+))*([A-Z])?",
    "scss/dollar-variable-empty-line-before": [
      "always",
      { "except": ["first-nested", "after-comment", "after-dollar-variable"] }
    ],
    "scss/at-mixin-pattern": "[a-z]+((\\d)|([A-Z0-9][a-z0-9]+))*([A-Z])?",
    "scss/dollar-variable-pattern": "[a-z]+((\\d)|([A-Z0-9][a-z0-9]+))*([A-Z])?",
    "selector-class-pattern": "[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}"
  }
}
