.about {
  padding-top: between(50px, 100px);
  padding-bottom: between(50px, 100px);

  @media screen and (max-width: $breakpoint992) {
    padding-top: between(100px, 190px, $breakpoint480, $breakpoint992);
  }

  &__container {
    display: grid;
    gap: 0 40px;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: $burgerBreakPoint) {
      gap: 40px 0;
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  &__content {
    grid-row: 1 / 2;

    @media screen and (max-width: $burgerBreakPoint) {
      grid-row: unset;
    }
  }

  &__highlights {
    grid-row: 2 / 3;

    @media screen and (max-width: $burgerBreakPoint) {
      order: 3;
      grid-row: unset;
    }
  }

  &__thumbs {
    position: relative;
    display: grid;
    margin-top: auto;
    gap: 20px;
    grid-row: 1 / span 2;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: between(10px, 30px) calc(51% - 50px) auto;

    @media screen and (max-width: $breakpoint992) {
      margin-left: 0;
      grid-row: unset;
    }
  }

  &__title {
    padding-top: 30px;

    @media screen and (max-width: $breakpoint992) {
      padding-top: 10px;
    }
  }

  &__desc {
    padding-top: 20px;
  }
}

.highlight {
  display: grid;
  max-width: 400px;
  align-items: center;
  padding: 25px;
  border-radius: 30px;
  margin-top: 30px;
  background: $white;
  background-position: center;
  background-size: cover;
  box-shadow: 4px 10px 30px 0 rgb(0 0 0 / 6%);
  gap: 5px 22px;
  grid-template-columns: auto 1fr;

  &__icon {
    grid-row: 1 / span 2;

    svg {
      width: 40px;
      height: 40px;
      fill: $blue;

      @media screen and (max-width: $breakpoint480) {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__subtitle {
    letter-spacing: normal;
    text-transform: none;
  }

  &__desc {
    letter-spacing: normal;
  }
}

.thumb {
  border-radius: 30px;
  box-shadow: 4px 10px 30px 0 rgb(0 0 0 / 15%);

  &__1 {
    width: between(170px, 280px);
    height: between(260px, 500px);
    background-image: url("@img/thumb-1.jpg");
    background-position: center;
    background-size: cover;
    grid-row: 2 / span 2;

    @media screen and (max-width: $breakpoint992) {
      width: between(153px, 308px); // max size scaled to 1.1, min size to 0.9
      height: between(234px, 550px);
    }
  }

  &__2 {
    width: between(143px, 277px);
    height: between(141px, 280px);
    background-image: url("@img/thumb-2.jpg");
    background-position: center;
    background-size: cover;
    grid-column: 2;
    grid-row-start: 1;

    @media screen and (max-width: $breakpoint992) {
      width: between(128.7px, 304.7px); // max size scaled to 1.1, min size to 0.9
      height: between(126.9px, 308px);
    }
  }

  &__3 {
    width: between(143px, 277px);
    height: between(100px, 180px);
    background-image: url("@img/thumb-3.jpg");
    background-position: center;
    background-size: cover;
    grid-column: 2;
    grid-row-start: 3;

    @media screen and (max-width: $breakpoint992) {
      width: between(128.7px, 304.7px); // max size scaled to 1.1, min size to 0.9
      height: between(90px, 198px);
    }
  }
}

.circle {
  position: absolute;
  top: -103px; // half of the height value
  left: calc(50% - 103px);
  animation: spining infinite 30s linear;

  @media screen and (max-width: $breakpoint992) {
    top: -42px; // half of the height value
    left: calc(50% - 62px);
    width: 124px;
    height: 124px;
  }

  span {
    position: absolute;
    left: 50%;
    transform-origin: 0 103px;

    @media screen and (max-width: $breakpoint992) {
      font-size: 10px;
      transform-origin: 0 62px;
    }
  }
}

@keyframes spining {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
