.header {
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: rgba($color: white, $alpha: 90%);
  padding-block: 15px;
  transition-duration: .3s;

  &:hover {
    background-color: white;
  }

  &__container {
    @include flexHCenter;

    @media screen and (max-width: $burgerBreakPoint) {
      justify-content: flex-start;
    }
  }

  &__logo {
    @include flexVCenter;

    column-gap: 8px;
    margin-inline: auto;

    @media screen and (max-width: $burgerBreakPoint) {
      margin: 0 auto 0 0;
    }

    div {
      @include flexAllCenter;

      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $darkBlue;
    }

    p {
      color: $logoBlack;
      font-size: 20px;
      font-weight: 600;
      text-transform: capitalize;
    }
  }

  &__option {
    @include flexVCenter;

    padding: 15px between(15px, 26px, $breakpoint992, $breakpoint1450);
    border-radius: 50px;
    column-gap: 10px;
    cursor: pointer;

    @media screen and (max-width: $burgerBreakPoint) {
      display: none;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
}

.login {
  color: $grey;
  transition: color 0.3s ease;

  &:hover {
    @media (hover: hover) {
      color: $black;
    }
  }
}

.listing {
  background-color: $darkBlue;
  color: white;
}
