// :root {
//   --formInlinePadding: 40px;

//   @media screen and (max-width: $breakpoint992) {
//     --formInlinePadding: between(20px, 40px, 489.98px, 991.98px);
//   }
// }

.form {
  --formInlinePadding: 40px;

  display: inline-block;
  max-height: 750px;
  padding: 11px var(--formInlinePadding) 60px;
  border-radius: 30px;
  background-color: $white;
  box-shadow: 10px 30px 50px 0 rgb(0 0 0 / 5%);

  @media screen and (max-width: $breakpoint992) {
    --formInlinePadding: 20px;

    padding-bottom: between(40px, 60px, $breakpoint480, $breakpoint992);
  }

  &__options {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    column-gap: 40px;

    &::before {
      position: absolute;
      bottom: 0;
      left: calc(0px - var(--formInlinePadding));
      width: calc(100% + var(--formInlinePadding) * 2);
      height: 1px;
      background-color: $grey;
      content: "";
    }
  }

  &__option {
    display: block;
    padding: 29px 35px;
    color: $darkBlue;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;

    @media screen and (max-width: $breakpoint480) {
      padding: 20px 25px;
    }
  }

  &__option-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 44%;
    height: 4px;
    border-radius: 5px;
    background-color: $darkBlue;
    transition: left 0.5s ease;

    &--active {
      left: calc(100% - 44%);
    }
  }

  &__form {
    width: 100%;
    padding-top: 50px;

    @media screen and (max-width: $breakpoint480) {
      padding-top: 40px;

    };
  }

  &__fields {
    $inputHeight: 59px;
    $totalCount: 4;
    $currentlyDisplayed: 3;
    $gapValue: 30px;
    $height: calc(#{($inputHeight + $gapValue) * $currentlyDisplayed} - #{$gapValue});

    display: flex;
    max-height: $height; // 237px
    flex-direction: column;
    overflow-y: hidden;
    row-gap: $gapValue;
    transition: max-height 0.5s ease-in-out;

    @media screen and (max-width: $breakpoint480) {
      $inputHeight: 50px;
      $totalCount: 4;
      $currentlyDisplayed: 3;
      $gapValue: 20px;
      $height: calc(#{($inputHeight + $gapValue) * $currentlyDisplayed} - #{$gapValue});

      max-height: $height;
      row-gap: $gapValue;
    }

    &--expanded {
      max-height: 326px;
    }

    select {
      $inputHeight: 59px;

      width: between(315px, 340px, $breakpoint992, $breakpoint1450);
      height: $inputHeight;
      flex-shrink: 0;
      border: 0;
      border-radius: 20px;
      background-color: $selectGrey;
      color: $lightGrey;
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      outline: none;
      padding-inline: 20px;
      text-transform: capitalize;

      @media screen and (max-width: $breakpoint992) {
        width: between(290px, 340px, $breakpoint480, $breakpoint992);
      }

      @media screen and (max-width: $breakpoint480) {
        $inputHeight: 50px;

        height: $inputHeight;
        border-radius: 15px;
      }
    }
  }

  &__extra {
    @include flexVCenter;

    display: flex;
    margin-top: 20px;
    color: $black;
    column-gap: 10px;
    cursor: pointer;
    text-transform: capitalize;

    &:hover {
      @media (hover: hover) {
        color: $darkBlue;
      }
    }

    &--active {
      color: $darkBlue;
    }
  }

  &__btn {
    @include resetBtn;
    @include flexAllCenter;

    border-radius: 50px;
    margin: between(52px, 60px, $breakpoint992, $breakpoint1450) auto 0;
    background: $darkBlue;
    color: $white;
    column-gap: 10px;
    font-weight: 500;
    padding-block: between(20.2px, 25px, $breakpoint992, $breakpoint1450);
    padding-inline: between(110.5px, 120px, $breakpoint992, $breakpoint1450);
    text-transform: capitalize;

    @media screen and (max-width: $breakpoint992) {
      margin-top: between(43px, 60px, $breakpoint480, $breakpoint992);
      padding-block: between(15px, 25px, $breakpoint480, $breakpoint992);
      padding-inline: between(100px, 120px, $breakpoint480, $breakpoint992);
    }
  }
}
