.listings {
  &__container {
    display: grid;
    gap: 0 35px;
    grid-template-columns: 1fr auto;

    @media screen and (max-width: $breakpoint768) {
      gap: 35px 0;
      grid-template-columns: 1fr;
    }
  }

  &__options {
    display: flex;
    gap: 30px;
    place-self: center;
  }

  &__items {
    margin-top: 50px;
    grid-column: 1 / span 2;

    @media screen and (max-width: $breakpoint768) {
      margin-top: 0;
      grid-column: 1;
    }
  }

  &__title {
    padding-top: between(10px, 25px);
  }

  &__desc {
    padding-top: between(10px, 25px);
  }

  &__option {
    @include resetBtn;

    padding: 14px 26px;
    border: 1px solid $darkBlue;
    border-radius: 30px;
    color: $darkBlue;
    transition: background-color 0.3s ease, color 0.3s ease;

    &--active {
      background-color: $darkBlue;
      color: $white;
      pointer-events: none;
    }
  }

  &__tabBtn:not(:last-child) {
    margin-right: 18px;
  }
}

.item {
  &__track {
    display: flex;
    width: 100%;
    padding-bottom: 50px;
    gap: 50px;
    overflow-y: auto;

    @media screen and (max-width: $breakpoint768) {
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 0;
      overflow-y: unset;
    }
  }

  &__card {
    @include flexHStart;

    display: none;
    cursor: pointer;
    opacity: 0;

    &--visible {
      display: flex;
      animation: fade-in 1s ease forwards;
    }
  }

  &__img {
    position: relative;
    overflow: hidden;
    width: between(333px, 340px);
    height: between(220px, 340px);
    border-radius: 30px;
    aspect-ratio: 1/1;
    background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 50%) 100%);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      scale: 1;
      transition: transform 0.3s ease-in-out;
    }
  }

  &__img:hover img {
    @media (hover: hover) {
      transform: scale(1.1);
    }
  }

  &__filter {
    position: absolute;
    bottom: 9%;
    left: 9%;
    display: flex;
    align-items: center;
    padding: 10px 24px;
    border-radius: 20px;
    gap: 10px;

    span {
      color: inherit;
      font-size: between(13.3px, 16px);
      font-weight: 500;
    }
  }

  &__price {
    padding-top: 15px;
    color: $menuBlack;
    font-size: between(19.4px, 27.6px);
    font-weight: 600;
  }

  &__title {
    padding-top: 5px;
    color: $menuBlack;
    font-size: between(16px, 19.4px);
    font-weight: 500;
  }

  &__place {
    padding-top: 5px;
    color: $grey;
    font-size: between(13.3px, 16px);
    font-weight: 400;
    line-height: 26px;
  }

  &__conditions {
    display: flex;
    align-items: center;
    padding-top: 10px;
    font-size: between(13.3px, 16px);
    gap: 20px;

    div {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.popular {
  background: #ffe1e1;
  color: #f11;

  svg {
    width: 20px;
    height: 23px;
    fill: currentcolor;
  }
}

.new {
  background: #d7eeff;
  color: #119bff;

  svg {
    width: 20px;
    height: 21px;
    fill: currentcolor;
  }
}

.discount {
  background: #f1fff1;
  color: #00ce3a;

  svg {
    width: 12px;
    height: 20px;
    fill: currentcolor;
  }
}

.bed {
  svg {
    width: 30px;
    height: 21.5px;
    fill: $menuBlack;
  }
}

.bath {
  svg {
    width: 24px;
    height: 24.06px;
    fill: $menuBlack;
  }
}
