.menu {
  @media screen and (max-width: $burgerBreakPoint) {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: calc(100% - var(--offsetHeight));
    backdrop-filter: blur(10px);
    background: rgba($color: white, $alpha: 90%);
    font-size: 26px;
    inset: 0;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
  }

  &__list {
    display: flex;
    column-gap: 3px;

    @media screen and (max-width: $burgerBreakPoint) {
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      overflow-y: auto;
    }
  }

  &__item {
    border-radius: 30px;
    color: $menuBlack;
    font-size: inherit;
    font-weight: 500;
    line-height: normal;
    transition: color 0.3s ease, background-color 0.5s ease;

    @media screen and (min-width: $burgerBreakPoint) {
      color: $grey;
    }

    &:hover {
      @media (hover: hover) {
        color: $menuBlack;
      }
    }

    &-active {
      @media screen and (min-width: $burgerBreakPoint) {
        background-color: $lightBlue;
        color: $menuBlack;
      }
    }
  }

  &__link {
    display: block;
    padding: 13px between(13px, 16px, $breakpoint992, $breakpoint1450);
    color: inherit;
    font: inherit;
    text-decoration: none;
  }

  &__option {
    display: none;
    margin-top: 45px;
    color: $menuBlack;
    column-gap: 10px;

    @media screen and (max-width: $burgerBreakPoint) {
      @include flexVCenter;
    }

    p {
      text-transform: capitalize;
    }
  }

  &__option:last-child {
    margin-bottom: 45px;
    font-size: inherit;
  }

  &-active {
    @media screen and (max-width: $breakpoint992) {
      transform: translate(0);
    }
  }
}
