<section class="about">
  <div class="about__container">
    <!-- Content -->
    <div class="about__content">
      <h3 class="about__subtitle subtitle">who we are</h3>
      <h2 class="about__title title">
        Assisting individuals in locating the appropriate real estate.
      </h2>
      <p class="about__desc desc">
        Donec porttitor euismod dignissim. Nullam a lacinia ipsum, nec dignissim purus. Nulla
        convallis ipsum molestie nibh malesuada, ac malesuada leo volutpat.
      </p>
      <div class="about__highlight">
        <img
          src="@icons/smart_home.svg"
          alt="Smart home icon" />
        <span class="subtitle">Donec porttitor euismod</span>
        <span>Nullam a lacinia ipsum, nec dignissim purus. Nulla</span>
      </div>
      <div class="about__highlight">
        <img
          src="@icons/user_octagon.svg"
          alt="Smart home icon" />
        <span class="subtitle">Donec porttitor euismod</span>
        <span>Nullam a lacinia ipsum, nec dignissim purus. Nulla</span>
      </div>
    </div>
    <!-- Thumbs -->
    <div class="about__thumbs">
      <div class="thumb__1 thumb"></div>
      <div class="thumb__2 thumb"></div>
      <div class="thumb__3 thumb"></div>
    </div>
  </div>
</section>
