<section class="about">
  <div class="about__container">
    <!-- Content -->
    <div class="about__content">
      <h3 class="about__subtitle subtitle">who we are</h3>
      <h2 class="about__title title">
        Assisting individuals in locating the appropriate real estate.
      </h2>
      <p class="about__desc desc">
        Donec porttitor euismod dignissim. Nullam a lacinia ipsum, nec dignissim purus. Nulla
        convallis ipsum molestie nibh malesuada, ac malesuada leo volutpat.
      </p>
    </div>
    <!--  Highlights -->
    <div class="about__highlights">
      <div class="highlight">
        <div class="highlight__icon">
          <svg>
            <use xlink:href="img/sprite.svg#smartHome"></use>
          </svg>
        </div>
        <span class="highlight__subtitle subtitle">Donec porttitor euismod</span>
        <span class="highlight__desc desc">Nullam a lacinia ipsum, nec dignissim purus. Nulla</span>
      </div>
      <div class="highlight">
        <div class="highlight__icon">
          <svg style="fill: none; stroke: #4361ee">
            <use xlink:href="img/sprite.svg#userOctagon"></use>
          </svg>
        </div>
        <span class="highlight__subtitle subtitle">Donec porttitor euismod</span>
        <span class="highlight__desc desc">Nullam a lacinia ipsum, nec dignissim purus. Nulla</span>
      </div>
    </div>
    <!-- Thumbs -->
    <div class="about__thumbs">
      <div class="circle">
        <img
          src="img/circleText.svg"
          alt="Real estate since 2022" />
      </div>
      <div class="thumb__1 thumb"></div>
      <div class="thumb__2 thumb"></div>
      <div class="thumb__3 thumb"></div>
    </div>
  </div>
</section>
