<div class="agent">
  <div
    class="agent__thumb"
    aria-hidden="true">
    <img
      src="@img/agent.png"
      alt="Agent" />
  </div>
  <div class="agent__decor-1" aria-hidden="true"></div>
  <div class="agent__decor-2" aria-hidden="true"></div>
  <div class="agent__content">
    <h2 class="agent__title title">Become an Agent.</h2>
    <p class="agent__desc desc">Fusce venenatis tellus a felis scelerisque. venenatis tellus a felis scelerisque. </p>
  </div>
  <button class="agent__btn">Register now</button>
</div>
