<section class="areas">
  <div class="areas__container">
    <div class="areas__decor" aria-hidden="true"></div>
    <h3 class="areas__subtitle subtitle">areas across the town</h3>
    <h2 class="areas__title title">Neighborhood Properties</h2>
    <div class="areas__gallery gallery">
      <a href="#" class="gallery__thumb thumb-1">
        <span class="gallery__count">216</span>
        <span class="gallery__place">New York City, NY</span>
      </a>
      <a href="#" class="gallery__thumb thumb-2">
        <span class="gallery__count">141</span>
        <span class="gallery__place">Houston, TX</span>
      </a>
      <a href="#" class="gallery__thumb thumb-3">
        <span class="gallery__count">212</span>
        <span class="gallery__place">San Diego, CA</span>
      </a>
      <a href="#" class="gallery__thumb thumb-4">
        <span class="gallery__count">183</span>
        <span class="gallery__place">Philadelphia, PA</span>
      </a>
      <a href="#" class="gallery__thumb thumb-5">
        <span class="gallery__count">112</span>
        <span class="gallery__place">San Francisco, CA</span>
      </a>
    </div>
  </div>
</section>
