<section class="blog">
  <div class="blog__container">
    <h3 class="blog__subtitle subtitle">what's trending</h3>
    <h2 class="blog__title title">Latest Blogs & Posts</h2>
    <div class="blog__articles articles">
      <div class="articles__wrapper">
        <a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <img
              src="img/blog-1.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Luxury Apartments for Sale in Downtown</span>
          <span class="articles__desc"
            >Discover exquisite apartments with stunning views and top-notch amenities.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <img
              src="img/blog-2.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Beachfront Villas for Rent on Paradise Island</span>
          <span class="articles__desc"
            >Experience the ultimate beachfront living with our exclusive villa rentals.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <img
              src="img/blog-3.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Invest in Modern Homes with Mountain Views</span>
          <span class="articles__desc"
            >Explore modern homes with breathtaking mountain views and modern design.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <img
              src="img/blog-4.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Charming Apartments for Lease in Historic District</span>
          <span class="articles__desc"
            >Step into history with our charming apartments located in the heart of the city.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <img
              src="img/blog-5.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Lakeview Apartments for Sale with Resort Amenities</span>
          <span class="articles__desc"
            >Enjoy lakeside living with resort-style amenities and stunning natural beauty.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <img
              src="img/blog-6.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Prime Office Space for Rent in Business District</span>
          <span class="articles__desc"
            >Elevate your business with our prime office spaces in the bustling business
            district.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <img
              src="img/blog-7.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Family-Friendly Homes for Sale with Spacious Yards</span>
          <span class="articles__desc"
            >Find your dream family home with spacious yards and room for everyone.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <img
              src="img/blog-8.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Tranquil Apartment Rentals in Serene Neighborhood</span>
          <span class="articles__desc"
            >Experience tranquility in our peaceful apartments nestled in a serene
            neighborhood.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <img
              src="img/blog-9.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">New Residential Complex: Stylish Apartments for Sale</span>
          <span class="articles__desc"
            >Discover the latest residential complex featuring stylish apartments and modern
            living.</span
          >

          <button class="articles__followBtn"></button>
        </a>
        <!-- <button class="articles__prev">
          <?xml version="1.0" ?><svg
            viewBox="0 0 96 96"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M39.3756,48.0022l30.47-25.39a6.0035,6.0035,0,0,0-7.6878-9.223L26.1563,43.3906a6.0092,6.0092,0,0,0,0,9.2231L62.1578,82.615a6.0035,6.0035,0,0,0,7.6878-9.2231Z" />
          </svg>
        </button>
        <button class="articles__next">
          <?xml version="1.0" ?><svg
            viewBox="0 0 96 96"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M69.8437,43.3876,33.8422,13.3863a6.0035,6.0035,0,0,0-7.6878,9.223l30.47,25.39-30.47,25.39a6.0035,6.0035,0,0,0,7.6878,9.2231L69.8437,52.6106a6.0091,6.0091,0,0,0,0-9.223Z" />
          </svg>
        </button> -->
      </div>
    </div>
  </div>
</section>
