<section class="blog">
  <div class="blog__container">
    <h3 class="blog__subtitle subtitle">what's trending</h3>
    <h2 class="blog__title title">Latest Blogs & Posts</h2>
    <div class="blog__articles articles">
      <div class="articles__wrapper">
        <a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <div class="articles__createdAt">
              <span class="subtitle">28</span>
              <span class="desc">Tue</span>
            </div>
            <img
              src="img/blog-1.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Luxury Apartments for Sale in Downtown</span>
          <span class="articles__desc"
            >Discover exquisite apartments with stunning views and top-notch amenities.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <div class="articles__createdAt">
              <span class="subtitle">08</span>
              <span class="desc">Mon</span>
            </div>
            <img
              src="img/blog-2.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Beachfront Villas for Rent on Paradise Island</span>
          <span class="articles__desc"
            >Experience the ultimate beachfront living with our exclusive villa rentals.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <div class="articles__createdAt">
              <span class="subtitle">15</span>
              <span class="desc">Wed</span>
            </div>
            <img
              src="img/blog-3.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Invest in Modern Homes with Mountain Views</span>
          <span class="articles__desc"
            >Explore modern homes with breathtaking mountain views and modern design.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <div class="articles__createdAt">
              <span class="subtitle">21</span>
              <span class="desc">Fri</span>
            </div>
            <img
              src="img/blog-4.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Charming Apartments for Lease in Historic District</span>
          <span class="articles__desc"
            >Step into history with our charming apartments located in the heart of the city.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <div class="articles__createdAt">
              <span class="subtitle">14</span>
              <span class="desc">Wed</span>
            </div>
            <img
              src="img/blog-5.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Lakeview Apartments for Sale with Resort Amenities</span>
          <span class="articles__desc"
            >Enjoy lakeside living with resort-style amenities and stunning natural beauty.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <div class="articles__createdAt">
              <span class="subtitle">23</span>
              <span class="desc">Mon</span>
            </div>
            <img
              src="img/blog-6.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Prime Office Space for Rent in Business District</span>
          <span class="articles__desc"
            >Elevate your business with our prime office spaces in the bustling business
            district.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <div class="articles__createdAt">
              <span class="subtitle">04</span>
              <span class="desc">Tue</span>
            </div>
            <img
              src="img/blog-7.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Family-Friendly Homes for Sale with Spacious Yards</span>
          <span class="articles__desc"
            >Find your dream family home with spacious yards and room for everyone.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <div class="articles__createdAt">
              <span class="subtitle">15</span>
              <span class="desc">Fri</span>
            </div>
            <img
              src="img/blog-8.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">Tranquil Apartment Rentals in Serene Neighborhood</span>
          <span class="articles__desc"
            >Experience tranquility in our peaceful apartments nestled in a serene
            neighborhood.</span
          >
          <button class="articles__followBtn"></button></a
        ><a
          href="#"
          class="articles__link">
          <div class="articles__img">
            <div class="articles__createdAt">
              <span class="subtitle">30</span>
              <span class="desc">Wed</span>
            </div>
            <img
              src="img/blog-9.jpg"
              alt="slide image" />
          </div>
          <span class="articles__title">New Residential Complex: Stylish Apartments for Sale</span>
          <span class="articles__desc"
            >Discover the latest residential complex featuring stylish apartments and modern
            living.</span
          >

          <button class="articles__followBtn"></button>
        </a>
      </div>
    </div>
    <button class="blog__showMoreBtn">View more blogs</button>
  </div>
</section>
