<section class="listings">
  <div class="listings__container">
    <div class="listings__content">
      <span class="listings__subtitle subtitle">checkout our news</span>
      <h2 class="listings__title title">Latest listed properties</h2>
      <p class="listings__desc desc">
        Donec porttitor euismod dignissim. Nullam a lacinia ipsum, nec dignissim purus.
      </p>
    </div>
    <div class="listings__options">
      <button
        class="listings__option"
        data-filter="all">
        All
      </button>
      <button
        class="listings__option"
        data-filter="sell">
        Sell
      </button>
      <button
        class="listings__option"
        data-filter="rent">
        Rent
      </button>
    </div>
    <div class="listings__items item">
      <div class="item__wrapper">
        <div class="item__track">
          <div
            class="item__card"
            data-listing="sell">
            <div class="item__img">
              <picture>
                <source
                  srcset="@img/card-1.webp"
                  type="image/webp" />
                <img
                  src="@img/card-1.jpg"
                  alt="Two-floor villa with a swimming pool in front of it"
                  loading="lazy" />
              </picture>
              <div class="item__filter popular">
                <svg>
                  <use xlink:href="img/sprite.svg#popular"></use>
                </svg>
                <span>Popular</span>
              </div>
            </div>
            <span class="item__price">$ 5,970</span>
            <span class="item__title">Tranquil Haven in the Woods</span>
            <span class="item__place">103 Wright CourtBurien, WA 98168</span>
            <div class="item__conditions">
              <div class="bed">
                <svg>
                  <use xlink:href="img/sprite.svg#bed"></use>
                </svg>
                <span>4 Beds</span>
              </div>
              <div class="bath">
                <svg>
                  <use xlink:href="img/sprite.svg#bath"></use>
                </svg>
                <span>3 Bath</span>
              </div>
            </div>
          </div>
          <div
            class="item__card"
            data-listing="rent">
            <div class="item__img">
              <picture>
                <source
                  srcset="@img/card-2.webp"
                  type="image/webp" />
                <img
                  src="@img/card-2.jpg"
                  alt="A flat in high-rise"
                  loading="lazy" />
              </picture>
              <div class="item__filter new">
                <svg>
                  <use xlink:href="img/sprite.svg#newListing"></use>
                </svg>
                <span>New Listing</span>
              </div>
            </div>
            <span class="item__price">$ 1,970</span>
            <span class="item__title">Serene Retreat by the Lake</span>
            <span class="item__place">1964 Jehovah Drive, VA 22408</span>
            <div class="item__conditions">
              <div class="bed">
                <svg>
                  <use xlink:href="img/sprite.svg#bed"></use>
                </svg>
                <span>3 Beds</span>
              </div>
              <div class="bath">
                <svg>
                  <use xlink:href="img/sprite.svg#bath"></use>
                </svg>
                <span>2 Bath</span>
              </div>
            </div>
          </div>
          <div
            class="item__card"
            data-listing="sell">
            <div class="item__img">
              <picture>
                <source
                  srcset="@img/card-3.webp"
                  type="image/webp" />
                <img
                  src="@img/card-3.jpg"
                  alt="Luxury villa with a swimming pool"
                  loading="lazy" />
              </picture>
              <div class="item__filter discount">
                <svg>
                  <use xlink:href="img/sprite.svg#discount"></use>
                </svg>
                <span>Discounted Price</span>
              </div>
            </div>
            <span class="item__price">$ 3,450</span>
            <span class="item__title">Charming Cottage in the Meadow</span>
            <span class="item__place">1508 Centennial Farm RoadHarlan, 51537</span>
            <div class="item__conditions">
              <div class="bed">
                <svg>
                  <use xlink:href="img/sprite.svg#bed"></use>
                </svg>
                <span>4 Beds</span>
              </div>
              <div class="bath">
                <svg>
                  <use xlink:href="img/sprite.svg#bath"></use>
                </svg>
                <span>4 Bath</span>
              </div>
            </div>
          </div>
          <div
            class="item__card"
            data-listing="rent">
            <div class="item__img">
              <picture>
                <source
                  srcset="@img/card-4.webp"
                  type="image/webp" />
                <img
                  src="@img/card-4.jpg"
                  alt="A picturesque townhouse"
                  loading="lazy" />
              </picture>
              <div class="item__filter popular">
                <svg>
                  <use xlink:href="img/sprite.svg#popular"></use>
                </svg>
                <span>Popular</span>
              </div>
            </div>
            <span class="item__price">$ 2,389</span>
            <span class="item__title">Grand Estate on the Hilltop</span>
            <span class="item__place">103 Wright CourtBurien, WA 98168</span>
            <div class="item__conditions">
              <div class="bed">
                <svg>
                  <use xlink:href="img/sprite.svg#bed"></use>
                </svg>
                <span>4 Beds</span>
              </div>
              <div class="bath">
                <svg>
                  <use xlink:href="img/sprite.svg#bath"></use>
                </svg>
                <span>2 Bath</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
