<section class="listings">
  <div class="listings__container">
    <div class="listings__content">
      <h3 class="listings__subtitle subtitle">checkout our news</h3>
      <h2 class="listings__title title">Latest listed properties</h2>
      <p class="listings__desc desc">
        Donec porttitor euismod dignissim. Nullam a lacinia ipsum, nec dignissim purus.
      </p>
    </div>
    <div class="listings__tabsBtns">
      <button
        class="listings__tabBtn"
        data-tabBtn>
        All
      </button>
      <button
        class="listings__tabBtn"
        data-tabBtn>
        Sell
      </button>
      <button
        class="listings__tabBtn"
        data-tabBtn>
        Rent
      </button>
    </div>
    <!-- <div class="listings__tabsContent tabs">
      <div class="tabs__wrapper">
        <div class="tabs__track">
          <div class="tabs__card">
            <div class="tabs__img">
              <img
                src="@img/card-1.jpg"
                alt="" />
            </div>
            <span class="tabs__price">$ 5,970</span>
            <span class="tabs__title">Tranquil Haven in the Woods</span>
            <span class="tabs__place">103 Wright CourtBurien, WA 98168</span>
            <span></span>
          </div>
          <div class="tabs__card">
            <div class="tabs__img">
              <img
                src="@img/card-1.jpg"
                alt="" />
            </div>
            <span class="tabs__price">$ 5,970</span>
            <span class="tabs__title">Tranquil Haven in the Woods</span>
            <span class="tabs__place">103 Wright CourtBurien, WA 98168</span>
            <span></span>
          </div>
          <div class="tabs__card">
            <div class="tabs__img">
              <img
                src="@img/card-1.jpg"
                alt="" />
            </div>
            <span class="tabs__price">$ 5,970</span>
            <span class="tabs__title">Tranquil Haven in the Woods</span>
            <span class="tabs__place">103 Wright CourtBurien, WA 98168</span>
            <span></span>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
