<div class="marquee" data-marquee>
  <ul class="marquee__list" data-marquee-list>
    <li class="marquee__item">
      <img
        src="@img/google.svg"
        alt="Google">
    </li>
    <li class="marquee__item">
      <img
        src="@img/amazon.svg"
        alt="Amazon">
    </li>
    <li class="marquee__item">
      <img
        src="@img/logitech.svg"
        alt="Logitech">
    </li>
    <li class="marquee__item">
      <img
        src="@img/spotify.svg"
        alt="Spotify">
    </li>
    <li class="marquee__item">
      <img
        src="@img/samsung.svg"
        alt="Samsung">
    </li>
    <li class="marquee__item">
      <img
        src="@img/netflix.svg"
        alt="Netflix">
    </li>
  </ul>
</div>
