<div class="marquee">
  <ul class="marquee__list">
    <li class="marquee__item">
      <img
        src="@icons/google.svg"
        alt="Google logo" />
    </li>
    <li class="marquee__item">
      <img
        src="@icons/amazon.svg"
        alt="Amazon logo" />
    </li>
    <li class="marquee__item">
      <img
        src="@icons/logitech.svg"
        alt="Logitech logo" />
    </li>
    <li class="marquee__item">
      <img
        src="@icons/spotify.svg"
        alt="Spotify logo" />
    </li>
    <li class="marquee__item">
      <img
        src="@icons/samsung.svg"
        alt="Samsung logo" />
    </li>
    <li class="marquee__item">
      <img
        src="@icons/netflix.svg"
        alt="Netflix logo" />
    </li>
  </ul>
  <ul class="marquee__list">
    <li class="marquee__item">
      <img
        src="@icons/google.svg"
        alt="Google logo" />
    </li>
    <li class="marquee__item">
      <img
        src="@icons/amazon.svg"
        alt="Amazon logo" />
    </li>
    <li class="marquee__item">
      <img
        src="@icons/logitech.svg"
        alt="Logitech logo" />
    </li>
    <li class="marquee__item">
      <img
        src="@icons/spotify.svg"
        alt="Spotify logo" />
    </li>
    <li class="marquee__item">
      <img
        src="@icons/samsung.svg"
        alt="Samsung logo" />
    </li>
    <li class="marquee__item">
      <img
        src="@icons/netflix.svg"
        alt="Netflix logo" />
    </li>
  </ul>
</div>
