<section class="services">
  <div class="services__container">
    <span class="services__subtitle subtitle">our services</span>
    <h2 class="services__title title">Donec porttitor euismod dignissim</h2>
    <div class="services__cards">
      <div class="card">
        <div class="card__icon icon-1"></div>
        <span class="card__title">Buy a New Home</span>
        <span class="card__desc desc">Donec porttitor euismod dignissim. Nullam a lacinia ipsum, nec dignissim purus.</span>
      </div>
      <div class="card">
        <div class="card__icon icon-2"></div>
        <span class="card__title">Sell a House</span>
        <span class="card__desc desc">Donec porttitor euismod dignissim. Nullam a lacinia ipsum, nec dignissim purus.</span>
      </div>
      <div class="card">
        <div class="card__icon icon-3"></div>
        <span class="card__title">Rent a House</span>
        <span class="card__desc desc">Donec porttitor euismod dignissim. Nullam a lacinia ipsum, nec dignissim purus.</span>
      </div>
    </div>
  </div>
</section>
