<div class="banner">
  <div class="banner__container">
    <div class="banner__item">
      <img
        src="@icons/pin.svg"
        alt="Pin icon" />
      <p>Rezilla, 18 Grattan St, Brooklyn</p>
    </div>
      <div class="banner__item">
        <img
          src="@icons/phone.svg"
          alt="Phone icon" />
        <p>+1 206-214-2298</p>
      </div>
      <div class="banner__item">
        <img
          src="@icons/mail.svg"
          alt="Mail icon" />
        <p>support@rezilla.com</p>
      </div>
  </div>
</div>
