<div class="banner">
  <div class="banner__container">
    <div class="banner__item">
      <svg style="stroke:white; fill:none">
        <use xlink:href="img/sprite.svg#pin"></use>
      </svg>
      <p>Rezilla, 18 Grattan St, Brooklyn</p>
    </div>
      <div class="banner__item">
        <svg style="fill:white">
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
        <p>+1 206-214-2298</p>
      </div>
      <div class="banner__item">
        <svg style="stroke:white; fill:none">
          <use xlink:href="img/sprite.svg#mail"></use>
        </svg>
        <p>support@rezilla.com</p>
      </div>
  </div>
</div>
