@@include('./banner.html')
<header class="header">
  <div class="header__container">
    @@include('./menu.html')
    <div class="header__logo logo">
      <div>
        <svg>
          <use xlink:href="img/sprite.svg#houseLogo"></use>
        </svg>
      </div>
      <p>rezilla</p>
    </div>
    <div class="header__option login">
      <svg style="width: 18px; height: 18px; fill: none; stroke: currentColor">
        <use xlink:href="img/sprite.svg#userCircle"></use>
      </svg>
      <p>login/register</p>
    </div>
    <div class="header__option listing">
      <svg style="width: 20px; height: 20px; fill: white">
        <use xlink:href="img/sprite.svg#houseLogo"></use>
      </svg>
      <p>add listing</p>
    </div>
    <button
      class="burger"
      aria-label="Open menu"
      aria-expanded="false"
      data-burger>
      <div class="burger__icon"></div>
    </button>
  </div>
</header>
