<nav
  class="menu"
  title="Navigation menu"
  data-menu>
  <ul class="menu__list">
    <li
      data-menu-item
      class="menu__item menu__item-active">
      <a
        href="#"
        class="menu__link"
        data-target=".home"
        >Home</a
      >
    </li>
    <li
      data-menu-item
      class="menu__item">
      <a
        href="#"
        class="menu__link"
        data-target=".about"
        >About</a
      >
    </li>
    <li
      data-menu-item
      class="menu__item">
      <a
        href="#"
        class="menu__link"
        data-target=".listings"
        >Listings</a
      >
    </li>
    <li
      data-menu-item
      class="menu__item">
      <a
        href="#"
        class="menu__link"
        data-target=".services"
        >Services</a
      >
    </li>
    <li
      data-menu-item
      class="menu__item">
      <a
        href="#"
        class="menu__link"
        data-target=".blog"
        >Blogs</a
      >
    </li>
    <li class="menu__option">
      <svg style="width: 20px; height: 20px; fill: none; stroke: currentColor">
        <use xlink:href="img/sprite.svg#userCircle"></use>
      </svg>
      <p>login/register</p>
    </li>
    <li class="menu__option">
      <svg style="width: 20px; height: 20px; fill: black">
        <use xlink:href="img/sprite.svg#houseLogo"></use>
      </svg>
      <p>add listing</p>
    </li>
  </ul>
</nav>
