<div class="home__slider hSlider">
  <div class="hSlider__wrapper">
    <div
      class="swiper hSlider__body"
      data-slider="home">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              srcset="@img/stock-1.webp"
              type="image/webp" />
            <img
              class="image"
              src="@img/stock-1."
              alt="Interior design free stock photo"
              loading="lazy" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="@img/stock-2.webp"
              type="image/webp" />
            <img
              class="image"
              src="@img/stock-2."
              alt="Interior design free stock photo"
              loading="lazy" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="@img/stock-3.webp"
              type="image/webp" />
            <img
              class="image"
              src="@img/stock-3."
              alt="Interior design free stock photo"
              loading="lazy" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="@img/stock-4.webp"
              type="image/webp" />
            <img
              class="image"
              src="@img/stock-4."
              alt="Interior design free stock photo"
              loading="lazy" />
          </picture>
        </div>
      </div>
    </div>
    <button class="hSlider__prev">
      <svg>
        <use xlink:href="img/sprite.svg#arrowLeft"></use>
      </svg>
    </button>
    <button class="hSlider__next">
      <svg>
        <use xlink:href="img/sprite.svg#arrowRight"></use>
      </svg>
    </button>
    <div class="hSlider__pagination"></div>
  </div>
</div>
