<section class="home">
  <div class="home__container">
    <div class="flex">
      <div class="flex-bs50">
        <h3 class="home__subtitle subtitle">real estate</h3>
        <h1 class="home__title main-title">Find a perfect home you love..!</h1>
        <p class="home__desc desc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facere a, ratione
          pariatur natus quam iste voluptate fugit dolores? Nam?
        </p>
        @@include('./homeSlider.html')
      </div>
      <div class="flex-bs50 p-rel">@@include('./homeForm.html')</div>
    </div>
    <div class="home__testimonials"></div>
  </div>
</section>
