<div
  class="form"
  data-form>
  <div
    class="form__options"
    data-option>
    <span
      class="form__option"
      data-option="sale"
      >for sale</span
    >
    <span
      class="form__option"
      data-option="rent"
      >for rent</span
    >
    <div
      class="form__option-indicator"
      data-option-indicator></div>
  </div>
  <form
    action="#"
    class="form__form">
    <div
      class="form__fields"
      data-fields>
      <select>
        <option>new york</option>
      </select>
      <select>
        <option>residential</option>
        <option>commercial</option>
        <option>industrial</option>
        <option>raw land</option>
        <option>special use</option>
      </select>
      <select>
        <option>one room</option>
        <option>two rooms</option>
        <option>three rooms</option>
        <option>more then three rooms</option>
      </select>
      <select>
        <option>one room</option>
        <option>two rooms</option>
        <option>three rooms</option>
        <option>more then three rooms</option>
      </select>
    </div>
    <div
      class="form__extra"
      data-extra>
      <svg style="width: 14px; height: 14px; fill: currentColor">
        <use xlink:href="img/sprite.svg#settings"></use>
      </svg>
      <span>advance search</span>
    </div>
    <button class="form__btn">
      <svg style="width: 20px; height: 20px; fill: white">
        <use xlink:href="img/sprite.svg#searchNormal"></use>
      </svg>
      <span>search</span>
    </button>
  </form>
</div>
