// Body
body {
  font-family: $fontPrimary, $fontSecondery;

  // Отключен горизонтальный скролл чтоб не ломал сайт, когда меню-бургер спрятано за пределами страницы
  overflow-x: hidden;
}

// Container
[class*="__container"] {
  width: 100%;
  max-width: ($containerWidth + $containerSafePadding) + px;
  padding: 0 $containerInlinePadding + px;
  margin: 0 auto;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Wrapper & Main css's classes press the footer to the page bottom, main element grows the whole available space of page
// Wrapper & Main css's прижимают футер к низу страницы, елемент main растягивается на все доступное пространство страницы
.wrapper {
  position: relative;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.dis-scroll {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  overscroll-behavior: none;
}

.main-title {
  color: $burgerBlack;
  font-size: 57.3px;
  font-weight: 600;
  line-height: 65px;
}

.title {
  color: $menuBlack;
  font-size: 39.8px;
  font-weight: 600;
  line-height: 47px;
}

.subtitle {
  color: $blue;
  font-size: 19.4px;
  font-weight: 500;
  letter-spacing: 2.91px;
  text-transform: uppercase;
}

.desc {
  color: $grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.marquee {
  position: relative;
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;

  &:hover &__list {
    @media (hover: hover) {
      animation-play-state: paused;
    }
  }

  &__list {
    @include listReset;
    @include flexHCenter;

    width: 100%;
    flex-shrink: 0;
    justify-content: space-around;
    animation: ticker 20s linear infinite;
  }

  &__item {
    cursor: pointer;
    filter: grayscale(1);
    transition: filter 0.3s ease;

    &:hover {
      @media (hover: hover) {
        filter: grayscale(0);
      }
    }

    img {
      height: 100px;
    }
  }
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
